.bg-dark {
    background-color: #232ff0 !important;
    background-image: linear-gradient(135deg, #232ff0 0%, #d91e85 100%) !important;  
}
.imgCard {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cardPadding {
    padding: 15px;
}

.text-gradient {
    background: -webkit-linear-gradient(315deg, #232ff0 0%, #d91e85 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.imgborder {
    border-radius: var(--bs-card-border-radius) var(--bs-card-border-radius) 0 0;
}

.carousel-indicators [data-bs-target] {
    width: 15px;
    height: 15px;
    background-color: #232ff0 !important;
    background-image: linear-gradient(135deg, #232ff0 0%, #d91e85 100%) !important;
    border-radius: 100%;

}

.btn-primary{
    box-shadow: 1px 1px 8px 1px #999;
    margin-right: 10px;
    font-weight: bold;
    background-color: #232ff0 !important;
    background-image: linear-gradient(135deg, #232ff0 0%, #d91e85 100%) !important;
}

.btn-primary:hover{
    border: #232ff0;
    background-color: #d91e85 !important;
    background-image: linear-gradient(135deg, #d91e85 0%, #232ff0 100%) !important;
}

.footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    bottom: 0;
    width: 100%;
    background-color: #232ff0 !important;
    background-image: linear-gradient(135deg, #232ff0 0%, #d91e85 100%) !important;
    color: #ffffff;
}
.mapa-footer-alinhamento{
    align-items: center;
    text-align: center;
}
.mapa-footer{
    border-radius: 8px;
    width: 90%; 
    height: 300px;
}
.topo-footer{
    color:#ffffff;
}
.topo-footer:hover{
    color:#f0f0f0d0;
}
.endereco-footer{
    align-items: center;
    text-align: center;
    color:#ffffff;
}
.contatos-footer{
    align-items: center;
    text-align: center;
    color:#ffffff;
}
.contato-header{
    text-align: center;
    align-items: center;
    color:#ffffff;
    width: 170px;
    height: 31px;
    background: linear-gradient(to right, #690176, #860069);
    border-radius: 10px;
}
.contato-header:hover{
    color:#f0f0f0d0;
}
.contato-footer{
    color:#ffffff;
}
.contato-footer:hover{
    color:#f0f0f0d0;
}
a:link{
    text-decoration: none;
}
.social-img{
    background-color: #d91e85 !important;
    background-image: linear-gradient(135deg, #d91e85  0%, #232ff0 100%) !important;
    border-radius: 50%;
    width: 30px;
    text-decoration: none;
}
.text-muted {
    color: #ffffff!important;
    text-align: center;
}